.checkout_container {
    width: 70%;
    margin-left: 15%;
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 70% 20%;
  }
  
  .button {
    height: 25%;
    width: 10%;
    outline: none;
    border: 2px solid #636769;
    border-radius: 10px;
    color: white;
    background-color: #919799;
    font-weight: 700;
    font-size: 1em;
    letter-spacing: 0.2em;
  }
  
  .total {
    
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 0.2em;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 0.2em;
  }
  
  .products_list {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  
  .product_container {
    width: 20%;
    height: 60%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    border-radius: 10%;
  }
  
  .image_container {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .text_container {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image {
    width: 80%;
  }
  
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .message_container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .message_box {
    width: 30%;
    height: 25%;
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    border-radius: 0.4em;
  }
  
  .message_box_left {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .message_box_right {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: 0.1em;
  }

.show-1 {
  float: right;
}

.show-2 {
  float: left;
}