.ingredients-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #F2C4CE;
}

.customize-container {
    height: 200vh; 
}