.carousel-caption{
    background: rgba(0, 0, 0, 0.5)
}

.location {
    overflow: hidden;
    border: 4px solid #F2C4CE;
  }

.conteiner{
    height: 150vh; 
}

.conteiner-form{
    margin-left: 25%;
    margin-right: 25%;
}

.col{
    margin-top: 1%; 
}

.info-conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-contact {
    display: flex;
    padding: 0;
}

.information{
    margin: 0 20px;
    list-style: none;
    padding: 0;
}
.error-alert{
    background-color: #C62828;
    color: #D6D6D6;
    margin-top: 1%;
    margin-left: 40%;
    margin-right: 40%;
    font-size: large;
    font-weight: 700;
}

.message-alert{
    color:green
}