.menu-container {
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5vh 0;
}

.menu {
    height: 80%;
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #F58F7C;
}

.menu-right {
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: column;
    border: 2px solid #F58F7C;
}

.img-menu{
  width: 25%;
}

.add-menu{
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 0;
}

.control{
    height: 200vh; 
}

.button-menu{
    display: flex;
    justify-content: center;
    text-align: center;
}