.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: #2C2B30;
  }
  .navbar a {
    color: #D6D6D6;
    text-decoration: none;
    font-weight: bold;
  }
  .navbar a:hover{
    color: #f2c4ce;
    text-decoration: none;
  }